.container {
  padding: 40px 32px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-areas: 
  "header"
  "btns"
  "expeerience"
  "info";
}

@media (min-width: 768px) {
  .container {
    padding: 70px 60px;
    height: 100vh;
    grid-template-rows: fit-content(100%);
    grid-template-columns: 60% 30%;
    grid-template-areas: 
    "header"
    "btns"
    "expeerience"
    "info";


  }
}