.experience {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;

    grid-area: experience;

    p {
        font-weight: 300;
        font-size: 18px;
        line-height: 2px;
        color: var(--text-primary);
        text-align: center;
    }

    .experience-time {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .experience-language {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

    

        img {
            filter: grayscale(100%)
        }
    
        .experience-unit {
            width: 290px;
            height: 35px;
            border-radius: 24px;
            border: 1px solid var(--text-secondary);

            .experience-measure {
                border-radius: 24px;
                height: 30px;
                background: linear-gradient(90deg, #777CF4 2.62%, #F47777 93.38%);


                &-1 {
                   width: 33%; 
                }

                &-2 {
                    width: 66%;
                }

                &-3 {
                    width: 100%;
                }
    
        }
    }


    @media (min-width: 768px) {
        align-items: flex-start;

        p {
            font-size: 24px;
            line-height: 36px;
            text-align: start;
        }
    }
}